@model ListAndNewStudent

@{
    ViewData["Title"] = "Affichage - ";
}

<h1>Liste d'étudiants</h1>

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

<p>
    <a asp-action="AddStudent">Ajouter un nouveau étudiant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Identifiant
            </th>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Numéro de téléphone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    <button type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#exampleModal" data-nom="@item.Nom" data-prenom="@item.Prenom" data-numero="@item.Numero" data-id="@item.StudentId">
                        Modifier
                    </button> | 
                    @*@Html.ActionLink("Supprimer", "DeleteStudentById", new { id = item.StudentId }, new { @class = "btn btn-primary" })*@
                    @*@Html.ActionLink("Supprimer", "DeleteStudentById", new { id = item.StudentId })*@
                    <a asp-action="DeleteStudentById" asp-route-id="@item.StudentId" class="btn btn-primary">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <a asp-action="Index">Retourner à l'accueil</a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="UpDateStudent">
            <div class="modal-content">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="NewStudent.StudentId" class="form-control" type="hidden" name="StudentId" />
                        <span asp-validation-for="NewStudent.StudentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewStudent.Nom" class="control-label">Nom</label>
                        <input asp-for="NewStudent.Nom" class="form-control" name="Nom" />
                        <span asp-validation-for="NewStudent.Nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewStudent.Prenom" class="control-label">Prénom</label>
                        <input asp-for="NewStudent.Prenom" class="form-control" name="Prenom" />
                        <span asp-validation-for="NewStudent.Prenom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewStudent.Numero" class="control-label">Numéro</label>
                        <input asp-for="NewStudent.Numero" class="form-control" name="Numero" />
                        <span asp-validation-for="NewStudent.Numero" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>

        $(".edit").click(e => {
            let nom = $(e.target).attr('data-nom');
            $("input[name=Nom]").val(nom)
            let prenom = $(e.target).attr('data-prenom');
            $("input[name=Prenom]").val(prenom)
            let numero = $(e.target).attr('data-numero');
            $("input[name=Numero]").val(numero)
            let id = $(e.target).attr('data-id');
            $("input[name=StudentId]").val(id)
        })
    </script>
}